body {
  /* background-image: url('../src/cool-background.png'); */
  background-size: cover;
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url('./assets/cool-background.png');
}

.button {
  padding: 5px;
  margin: 10px;
  width: 20%;
  border-radius: 5px;
  border: 1px solid black;
  word-wrap: none;
}

.button-enabled {
  background-color: blue;
  color: white;
  padding: 5px;
  margin: 10px;
  width: 20%;
  border-radius: 5px;
  border: 1px solid black;
}

.show {
  display: inline;
  padding: 5px;
  border: 0px solid gray;
}

.input-field {
  border: 1px solid black;
  border-radius: 5px;
  width: 30%;
  height: 30px;
  font-size: 20px;
  padding: 8px;
  text-align: center;
}

.main {
  margin-top: 50px;
  /* border: 3px solid rgb(95, 56, 56); */
  border-radius: 20px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(150, 150, 150, 0.6);
}

.item {
  background-color: rgb(150, 150, 150, 0.7);
  color: black;
}

.todoItem {
  padding: 15px;
  /* margin: 5px; */
  background-color: rgb(150, 150, 150, 0.7);
  border: 1px solid gray;
  width: 100%;
  color: black;
  user-select: none;
  display: flex;
}
.each-item {
  flex: 1;
  margin: 0px;
  align-self: flex-start;
}
.each-item:hover {
  cursor: pointer;
}

.list-of-items :last-child {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.remove-button {
  align-self: flex-end;
  margin-left: 10px;
  cursor: pointer;
}

.edit-button {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .main {
    width: 100%;
  }
}
